<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='/style.css' />
    <title>Fight Arena</title>
  </head>
  <body>
    <div class='container'>
      <header>
        <h1>Fight Arena</h1>
        <ul>
          <a href='/warrior/add-form'>Register your fighter</a>
        </ul>
        <ul>
          <a href='/arena/fight-form'>Fight arena</a>
        </ul>
        <ul>
          <a href='/hall-of-fame'>Hall of fame</a>
        </ul>
      </header>
      <div class='text'> {{{body}}}</div>

    </div>
  </body>
</html>