<h2>Register your fighter</h2>

<form action='/warrior' method='post'>
  <label>
    Name:
    <br />
    <input type='text' name='name' />
  </label>
  <label>
    Power:
    <br />
    <input type='number' name='power' />
  </label>
  <label>
    Defence:
    <br />
    <input type='number' name='defence' />
  </label>
  <label>
    Stamina:
    <br />
    <input type='number' name='stamina' />
  </label>
  <label>
    Agility:
    <br />
    <input type='number' name='agility' />
  </label>
  <label>
    Wins:
    <br />
    <input type='number' name='wins' />
  </label>
</form>